
.PagesLink{
    text-decoration: none;
    color: white;
}
.SideBarSubContainer {
    width: 280px;
    height: 170vh;
    background-image: url("../../public/Images/counter-bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
 
}

.TrainerDashMainContainer{
    margin: 0 auto;
    width: fit-content;
}


.TinyTechiesImg {
    margin: 0 auto;
    width: 50%;
    
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
    
.ChildrenImg {
    position: absolute;
    left: 17.5rem;
    margin-top: 60%;
}
.SideBarButtonLogout{
    margin-top: 4rem !important;
}
.SideBarButton {
    width: 80%;
    text-align: center;
    height: 40px;
    border-radius: 26px;
    border: none;
    background-color: #5dcedc;
    font-size: 1.7rem;
    margin: 10px auto; 
    display: flex; 
    align-items: center;
    justify-content: center; 
  }
  
  .SideBarButton img {
    vertical-align: middle;
    margin-right: 0.5rem;

    width: auto;
    height: 2rem;}
.SideBarTitle{
    margin-bottom: 3rem;
    text-align: center;
}
.DashTrainerStat{
    text-align: center;
}
.SideBarSubContainer-p {
    color: white;
    font-size: x-large;
    align-self: center;
    margin:0px;
}



.main-content {
    padding: 7px;
    position: absolute;
    top: 15rem;
    left: 17rem;
    width: 80vw;
}

.SideBarSubContainer button:nth-child(5) {
    margin-top: 100px;
}

.SideBarSubContainer button:nth-child(6) {
    margin-top: 20px;
}

.SideBarSubContainer button:nth-child(7) {
    margin-top: 20px;
}