*{
  overflow-x: hidden;
}
.About-girl{
  width: 70%;
  height:70%;
}
.About-conatiner{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.About-content{
  text-align: left; 
    width: 35%;
    padding-top: 5%;
}
.About-content div {
  width:400px;
  margin-right: 150px;
  }
.About_Question_P{
  color:#00C3C9;
  justify-self: center;
  align-self: center;
}
.About-button{
  background-color:#00C3C9;
  color: #ffffff;
  border: none;
  width: 200px;
  height:30px;
  border-radius: 5% 5%;
  margin-right: 300px;
  font-size: large;
}
.AboutImagContainer{
max-width: 400px;
max-height: 400px;
flex:1;
}
@media screen and (min-width: 360px) and (max-width: 480px){
  .About-conatiner{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  .About-girl{
      width:100%;
      margin-right: 0px;
  }
  .About_Question_P{
      margin-right: 10px;
  }
  .About-button{
      margin-right: 10px;
  }
  .About-content div{
      margin-right: 0px;
  }

  .About-content {
    width:300px
  }
  .About-content {
    font-size: small;
  }
  .About_P{
    width:295px
  
  }
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
 
  .About-girl{
      width:50%;
      margin-right: 0px;
      margin-left: 150px;
  }
  .About-content div p{
      font-size: x-large;
  }
  .About_Question_P{
font-size: x-large;    }
.About-button{
font-size: x-large;
width: 200px;
height: 100px;}
}
