a {
    text-decoration: none;
}

.SideBarSubContainer {
    width: 280px;
    height: 100vh;
    background-image: url("../../public/Images/counter-bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}



.TinyTechiesImg {
    width: 100%;
    height: 150px;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.ChildrenImg {
    width: 76%;
    height: 106px;
    position: absolute;
    left: 17.5rem;
}

.SideBarButton {
    width: 80%;
    text-align: center;
    height: 40px;
    border-radius: 26px;
    border: none;
    color: white;
    background-color: #5dcedc;
    font-size: 1.7rem;
    margin: 10px;
}

.SideBarSubContainer-p {
    color: white;
    font-size: x-large;
    align-self: center;
}

hr {
    margin-top: 5px;
    color: white;
}

.main-content {
    padding: 7px;
    position: absolute;
    top: 6.5rem;
    left: 28rem;
}

.SideBarSubContainer button:nth-child(5) {
    margin-top: 100px;
}

.SideBarSubContainer button:nth-child(6) {
    margin-top: 20px;
}

.SideBarSubContainer button:nth-child(7) {
    margin-top: 20px;
}