* {
    margin: 0px;
    padding: 0px;
overflow-x: hidden;
}
.counter-image {
    width: 100%;
    height: 100vh; /* Adjusted to fill the entire screen height */
    background-image: url("../../public/Images/counter-bg.jpg");
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Adjust as needed */
    margin-bottom: 20px; /* Adjust as needed */
  }
  
  .statics-container {
    width: 100%;
    height: 100%;
  }
  .sub-stat-container p {
   color: white;
   font-size: x-large;
  }
  
  .icon_stat {
    width: 70px;
    height: 70px;
  }
  
  .sub-stat-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .counter-image > div {
    margin: 20px; /* Adjust the margin as needed */
  }
  
  .counter-image button {
    width: 100%;
    height: 40px;
    border-radius: 40%;
    border: none;
    color: white;
    background-color: #5dcedc;
    font-size: x-large;
  }
  
  .sub-stat-container > div {
    margin: 50px; 
  }
  .sub-stat-container > div> p{
    margin-bottom: 15px;
  }
  
  .image-section{
    width: 150px;
    height:150px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
  @media screen and (min-width: 360px) and (max-width: 480px){

    .counter-image{
        flex-direction: column;
    }
    .sub-stat-container > div {
        margin: 20px; /* Adjust the margin as needed */
      }
    
  }
  @media screen and (min-width: 481px) and (max-width: 1024px) {
    .icon_stat {
      width: 50px;
      height: 50px;
    }
  
    .sub-stat-container p {
      font-size: x-large;
      margin: 20px;
    }
    .image-section{
        width: 100px;
        height: 100px;
        margin: 20px;
    }
    .counter-image button {
        width: 100px;
      height: 30px;
      font-size: x-large;
    }
  
    .sub-stat-container > div {
      margin: 20px; /* Adjust the margin as needed */
    }
   
  }
  